.App {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fef5dd;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.App-obs {
  position: absolute;
  top: -1em;
  font-size: 1.2em;
  padding: 30px 15px;
  background-color: #f9f0cc;
  color: #484126;
  border: 1px solid #cdc08d;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.App-container {
  height: 100%;
  margin-top: 7em;
  padding: 5em;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App-container h1 {
  color: #511c0f;
  font-size: 1.5em;
  margin-bottom: 0;
}
.Panel {
  position: relative;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #e9d1ac;
  min-width: 350px;
  background-color: #ffffff;
  margin-top: 25px;
  transition: 0.1s all ease-in-out;
}
.Panel h2 {
  text-transform: uppercase;
  font-size: 1em;
  color: #715c45;
}
.Panel button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #dbc1b8;
  border-radius: 10px;
  color: #866257;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
  justify-content: center;
  font-weight: 800;
  font-size: 1.1em;
  background-color: #f9dfd8;
  margin-top: 25px;
}
.Panel-inputGroup {
  width: 100%;
  margin-top: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.Panel-inputGroup label {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 14px;
  left: 5%;
  color: #957d75;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.Panel-inputGroup input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fbf7f6;
  border: 1px solid #eadfdb;
  border-radius: 10px;
  color: #42312b;
  opacity: 0.8;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.Panel-inputGroup input:focus {
  outline: none;
}
.Panel-inputGroup.selected label {
  transform: translateY(-25px);
  color: #4f3c36;
}
.Panel-clean-button {
  background-color: #fff !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a8a8a8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdd1d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc56b;
}
